<% include ../partials/header %>
<style>
    textarea[name=text] {
        width: 100%;
        min-height: 100vh;
        font-size: 20px;
        color: white;
        background: rgba(0, 0, 0, 0.406)
    }

    input[name=Title]{
        width: 100%;
        font-size: 24px;
        color: white;
        border: 0;
        background: rgba(155, 155, 155, 0.406)
    }
</style>
<main>
    <div class="content__title">EDIT <%=Post.title%><hr></div>
    <form action="/posts/<%= Post._id%>?_method=PUT" method="POST" class="post"  >
        <div class="post__head">
            <h2 style="text-align:center; width: 100%;"><%= Post.movieTitle%></h2>
            <img src="<%= Post.imgUrl%>" style="float:left; margin: 5px 15px">
            <div style="width:50%">
                <div><p>觀賞日期 : <input name="watchTime" type="date" value="<%=Post.watchTime%>"></p></div>
                <div><p>觀賞地點 : <input name="watchPlace" type="text"value="<%=Post.watchPlace%>" autocomplete="off"></p></div>
                <div><p>評價 : <input name="rate" type="number" max="100" min="0" value="<%=Post.rate%>"> 分 </p></div>
            </div>
        </div>
        <input type="text" name="movieId" value="<%= Post.movieId%>" hidden>
        <input type="text" name="movieTitle" value="<%= Post.movieTitle%>" hidden>
        <input type="text" name="imgUrl" value="<%= Post.imgUrl%>" hidden>
        <div class="post__head">
            <div class="post__title">
                <input type="text" name="Title" id="" placeholder="Place title here" autocomplete="off" value="<%=Post.title%>">
            </div>
            <div class="post__user">
                author: <%= Post.author.username%>
            </div>
        </div>
        <div class="post__message">
            <textarea name="text" id="" cols="30" rows="10" placeholder="add your movie review here..." autocomplete="off"><%= Post.text%></textarea>
            <p style="text-align:end"><button type="submit" class="btn submit_btn">SUBMIT EDIT</button></p>
        </div>
    </form>
</main>


<% include ../partials/footer %>