<% include ../partials/header %>
<style>
    textarea[name=comment_message] {
        width: 100%;
        min-height: 10rem;
        font-size: 2rem;
    }
</style>
<main>
    <div class="show hide">
        <span class="close">X</span>
        <div class="show__content">
            <div class="content__title" style="color:white">leave comment<hr></div>
            <div class="comments__form">
                <form action="/comments/<%=post._id%>" method="POST">
                    <textarea name="comment_message" id=""></textarea>
                    <button class="submit_btn" type="submit">leave comment</button>
                </form>
            </div>
        </div>
    </div>
    <div class="comment_edit_show hide">
        <span class="close">X</span>
        <div class="show__content">
            <div class="content__title btn submit_btn">edit comment<hr></div>
            <div class="comments_edit_form"></div>
        </div>
    </div>
    <div class="content__title">POST<hr></div>
    <div class="post">
        <div class="post__head">
            <h2 class="post__title" style="text-align:center"><%= post.title %></h2>
            <img src="<%= post.imgUrl%>" style="float:left; margin: 5px 15px">
            <div style="width:50%">
                <h2><%= post.movieTitle%></h2>
                <div><p>觀賞日期 : <%=post.watchTime%></p></div>
                <div><p>觀賞地點 : <%=post.watchPlace%></p></div>
                <div><p>評價 : <%=post.rate%> 分 </p></div>
                <div>post at : <%= post.time%></div>
                <div class="post__user">
                    <p>post by : <%= post.author.username%>
                    <%if(currentUser){%>
                        <%if(post.author.id.equals(currentUser._id)){%>
                            <div class="user_control">
                                <a href="/posts/<%=post._id%>/edit"><button class="edit_btn">EDIT</button></a>
                                <form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
                                    <button class="delete_btn">DELETE</button>
                                </form>
                            </div>
                    <%}}%>
                    </p>
                </div> 
            </div>        
        </div>
        <div class="post__message" style="white-space: pre-line;">
            <%= post.text %>
        </div>
        <div class="comments">
            <div class="comments__head">
                <div class="comments__title">回覆</div>
                <button class="comments__button submit_btn btn">Leave comment</button>
            </div>
            <% post.comments.forEach(comment=>{ %>
            <div class="comment">
                <div class="comment__user">
                    <%= comment.author.username %> :
                </div>
                <%if(currentUser){%>
                <%if(comment.author.id.equals(currentUser._id)){%>
                <div class="user_control">
                    <button class="edit_btn comment_edit_Btn" 
                    data-commentId="<%=comment._id%>"
                    data-text="<%= comment.text %>">EDIT</button>
                    <form action="/comments/<%=comment._id%>?_method=DELETE" method="POST">
                        <input type="text" name="postId" id="" value="<%=post._id%>" hidden>
                        <button class="delete_btn">DELETE</button>
                    </form>
                </div>
                <%}}%>
                <div class="comment__message" style="white-space: pre-line;">
                    <%= comment.text %>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</main>
<% include ../partials/footer %>
<script>
const show = document.querySelector(".show")
const commentEditShow = document.querySelector(".comment_edit_show")
const commentBtn = document.querySelector(".comments__button")
const closeBtn = document.querySelectorAll(".close")
const commentEditBtn = document.querySelectorAll(".comment_edit_Btn")
const commentEditForm = document.querySelector(".comments_edit_form")


commentBtn.addEventListener("click",openShow)
closeBtn.forEach(btn=>btn.addEventListener("click", closeShow))
commentEditBtn.forEach(btn=>{
    btn.addEventListener("click", handleCommentEdit)
})

function handleCommentEdit(){
    const commentId = this.dataset.commentid
    const text = this.dataset.text
    commentEditForm.innerHTML=""
    commentEditForm.innerHTML=`
    <form action="/comments/${commentId}?_method=PUT" method="POST">
        <textarea name="comment_message" id="">${text}</textarea>
        <button type="submit">submit edit</button>
    </form>`
    commentEditShow.classList.remove("hide")
}


function openShow(){
    show.classList.remove("hide")
}

function closeShow(){
    this.parentElement.classList.add("hide")
}
</script>