<% include ../partials/header %>
<style>
    .post {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 20px;
        min-height: 90vh;
        width: 80%;
        margin: 0 auto;
    }

    .post__head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.783);
        box-sizing: border-box;
        padding: 10px;
    }

    .post__message {
        padding: 15px;
        min-height: 80vh;
    }

    .comments {
        background: rgba(0, 102, 255, 0.488);
        box-sizing: border-box;
        padding: 20px;
        min-height: 10vh;
    }
    .comment {
        margin: 5px;
    }

    .comments__form {
        width: 80%;
    }
    
    .comments__head {
        display: flex;
        justify-content: space-between    
    }
    textarea[name=comment_message] {
        width: 100%;
        min-height: 4rem;
    }
    .comment_edit_show {
    width: 90vw;
    height: 90vh;
    position: fixed;
    left: 5vw;
    top: 5vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.639);
    overflow: auto;
    color: white;
    transition: 0.2s;
    font-size: 2em;
    text-align: center;
    padding-top: 3rem; 
    }
    .comments_edit_form {
        width: 80%;
    }

</style>
<main>
    <div class="show hide">
        <span class="close">X</span>
        <div class="show__content">
            <div class="content__title">leave comment<hr></div>
            <div class="comments__form">
                <form action="/comments/<%=post._id%>" method="POST">
                    <textarea name="comment_message" id=""></textarea>
                    <button type="submit">leave comment</button>
                </form>
            </div>
        </div>
    </div>
    <div class="comment_edit_show hide">
        <span class="close">X</span>
        <div class="show__content">
            <div class="content__title">edit comment<hr></div>
            <div class="comments_edit_form"></div>
        </div>
    </div>
    <div class="content__title">POST<hr></div>
    <div class="post">
        <div class="post__head">
            <div class="post__title">
                <%= post.title %>
            </div>
            <div class="post__user">
                post by <%= post.author.username%>
                <%if(currentUser){%>
                <%if(post.author.id.equals(currentUser._id)){%>
                <a href="/posts/<%=post._id%>/edit"><button>EDIT</button></a>
                <form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
                    <button>delete</button>
                </form>
                <%}}%>
            </div>
        </div>
        <div class="post__message">
            <%= post.text %>
        </div>
        <div class="comments">
            <div class="comments__head">
                <div class="comments__title">回覆</div>
                <button class="comments__button">Leave comment</button>
            </div>
            <% post.comments.forEach(comment=>{ %>
            <div class="comment">
                <div class="comment__user">
                    <%= comment.author.username %> :
                </div>
                <div class="comment__message">
                    <%= comment.text %>
                </div>
                <%if(comment.author.id.equals(currentUser._id)){%>
                <div>
                    <button class="comment_edit_Btn" 
                    data-commentId="<%=comment._id%>"
                    data-text="<%= comment.text %>">
                       <a href=""></a> 
                       edit
                    </button>
                    <form action="/comments/<%=comment._id%>?_method=DELETE" method="POST">
                        <input type="text" name="postId" id="" value="<%=post._id%>" hidden>
                        <button>delete</button>
                    </form>
                </div>
                <%}%>
            </div>
            <% }) %>
        </div>
    </div>
</main>
<% include ../partials/footer %>
<script>
const show = document.querySelector(".show")
const commentEditShow = document.querySelector(".comment_edit_show")
const commentBtn = document.querySelector(".comments__button")
const closeBtn = document.querySelectorAll(".close")
const commentEditBtn = document.querySelectorAll(".comment_edit_Btn")
const commentEditForm = document.querySelector(".comments_edit_form")


commentBtn.addEventListener("click",openShow)
closeBtn.forEach(btn=>btn.addEventListener("click", closeShow))
commentEditBtn.forEach(btn=>{
    btn.addEventListener("click", handleCommentEdit)
})

function handleCommentEdit(){
    const commentId = this.dataset.commentid
    const text = this.dataset.text
    commentEditForm.innerHTML=""
    commentEditForm.innerHTML=`
    <form action="/comments/${commentId}?_method=PUT" method="POST">
        <textarea name="comment_message" id="">${text}</textarea>
        <button type="submit">submit edit</button>
    </form>`
    commentEditShow.classList.remove("hide")
}


function openShow(){
    show.classList.remove("hide")
}

function closeShow(){
    this.parentElement.classList.add("hide")
}
</script>